*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

.navbar{
    background-color: #333;
}

.navbar .navbar-brand{
    text-align: center;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item .nav-link{
    color: #000;

}

.navbar-brand img{
    width: 150px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }